---
layout: layouts/base
pagination:
  data: ships.series.list
  size: 1
  alias: series
permalink: "series/{{ series.slug }}/"
eleventyComputed:
  currentTitle: "Series: {{ series.name }}"
---
<nord-stack id="compare-page" gap="l" class="n-padding-i-l n-padding-b-l">
  <nord-stack>
    <h1 id="ship-name">
      <span class="n-font-size-xxxl">Series: {{series.name}}</span>
    </h1>
  </nord-stack>
  {% set compareShips = series.ships  %}
  {% set specifications = series.specifications  %}
  {% include 'shipCompare.njk' %}
</nord-stack>
